./shiro-redis/target/*
./shiro-redis/*
shiro-redis/*
./OrderHandlerApp/target/*
./orderhandler/target/*
./Entities/target/*
./DataTransferObjects/target/*
./DAO.User/target/*
./DAO.ServiceType/target/*
./APIGatewayClient/target/*
./APIGateway/target/*

